.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.idea
.idea
*.idea/
*.bas

*.ddn
*.dis
*.evt

*.lis
*.lpf
*.nam
*.oc
*.pcg
*.rch
*.mpbas
*.mpend
*.mplst
*.mpnam
*.mppth
*.mpsim
*.wel
*.list
*.log
*.timeseries
