.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.idea
.idea
*.idea/
*.bas
*.cbc
*.ddn
*.dis
*.evt
*.hds
*.lis
*.lpf
*.nam
*.oc
*.pcg
*.rch
*.mpbas
*.mpend
*.mplst
*.mpnam
*.mppth
*.mpsim
*.wel
*.list
*.log
*.timeseries
DanielleT_Notebooks/DanielleT_Scenario1/DanielleT_Scen1.ipynb
DanielleT_Notebooks/DanielleT_Scenario1/DanielleT_Scen1.ipynb
JacobR_Noteooks/BaseModel/Domain_Setup_Dave_Warlick-2.ipynb
